<div class="row custom-border my-2">
  <div class="col-md-2 custom-border-right p1 text-center">
      <img src="assets/img/banner/3.png" alt="IMAGE DE L'ARTICLE">
  </div>
  <div class="col-md-4 custom-border-right py-5">
    <div class="col">
      <div class="row">
        <div class="mr-3  blue-color"><i class="fas fa-info-circle"></i></div>
        <div >Code Article</div>
      </div>
      <div class="row">
        <div class="mr-3 blue-color"><i class="fas fa-info-circle"></i></div>
        <div >Designation</div>
      </div>
      <div class="row">
        <div class="mr-4 blue-color"><i class="fas fa-euro-sign"></i></div>
        <div >Prix </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 custom-border-right py-5">
    <div class="row">
      <div class="col-md-2">
       <i class="fab fa-dropbox blue-color" style="font-size: 30px;" ></i>
      </div>
      <div class="col-md-10 text-center">
        <div class="col-md-12 ">
          <h3>Stock Actuelle</h3>
        </div>
        <div class="col-md-12">
          <h3>139</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 py-5">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary d-flex">
          <i class="fab fa-stack-overflow blue-color "style="font-size: 30px;"></i>&nbsp;
          Correction de stock
        </button>
    </div>
  </div>

</div>
