<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html"> <img alt="image" src="assets/img/logo.svg" class="header-logo" /> <span
          class="logo-name">App Stock</span>
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Tableau de bord</li>
      <li class="dropdown active">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            data-feather="briefcase"></i><span>Tableau de bord</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="">Vue d'ensemble</a></li>
          <li><a class="nav-link" routerLink="/statistique">Statisques</a></li>
        </ul>
      </li>
      <li class="menu-header">Articles</li>
      <li class="dropdown ">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            data-feather="briefcase"></i><span>Articles</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/articles">Article</a></li>
          <li><a class="nav-link" >Mouvement du stock</a></li>
        </ul>
      </li>
      <li class="menu-header">Clients</li>
      <li class="dropdown ">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            data-feather="briefcase"></i><span>Clients</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Clients</a></li>
          <li><a class="nav-link" >Commande Client</a></li>
        </ul>
      </li>
      <li class="menu-header">Fournisseurs</li>
      <li class="dropdown ">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            data-feather="briefcase"></i><span>Fournisseurs</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Fournisseurs</a></li>
          <li><a class="nav-link" >Commande Fournisseurs</a></li>
        </ul>
      </li>
      <li class="menu-header">Parametrage</li>
      <li class="dropdown ">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i
            data-feather="briefcase"></i><span>Parametrage</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Categories</a></li>
          <li><a class="nav-link" >Utilisateurs</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
